################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModHubUpdater/.vs/ModHubUpdater/v15/Server/sqlite3
